
body{
    background: linear-gradient(to top, #1aff00 25%, #864076 50%, #0080ff 80%);
    background-size: 100%;
    width: 100%;
    height: 100%;
     animation: polegudes 5s ease;
}
@keyframes polegudes {
    0% {
       background-image: url("ZastavkaPol.jpg");
          background-size: 100%;
    }
     10% {
       background-image: url("ZastavkaPol.jpg");
           background-size: 100%;
    }
    20%{
        background-image: url("ZastaP.jpg");
          background-size: 100%;
    }
     30%{
        background-image: url("ZastaP.jpg");
           background-size: 100%;
    }
    40%{
        background-image: url("ZastPl.jpg");
          background-size: 100%;
    }
    50%{
        background-image: url("ZastPl.jpg");
          background-size: 100%;
    }
    60%{
        background-image: url("ZasPrivet.jpg");
          background-size: 100%;
    }
    70%{
        background-image: url("ZasPrivet.jpg");
          background-size: 100%;
    }
    80%{
        background-image: url("ZasPrivet.jpg");
          background-size: 100%;
    }
      90%{
        background-image: url("ZastavkaPol.jpg");
            background-size: 100%;
    }
    100%{
        background-image: url("ZastavkaPol.jpg");
          background-size: 100%;
    }
}
.container-fluid{

    animation:  lop 6s ease;
}
@keyframes lop {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
     50%{
        opacity: 0;
    }
     50%{
        opacity: 0;
    }
     60%{
        opacity: 0;
    }
     70%{
        opacity: 0;
    }
     80%{
        opacity: 0;
    }
     90%{
        opacity: 0;
    }
     100%{
        opacity: 1;
    }
}
#cryg {
    background-image: url("fortuna.png");
      background-size: 100%;
    position: relative;
    margin-left: 20px;
    width: 400px;
    height: 400px;
    background-size: 100%;
}
.jump{
     animation: top 4s both ease;
}
@keyframes top {
    100%{
        transform: rotate(1700deg);
    }
}

 #star{
     width: 100px;
     font-size: 20px;
     background-color: #ffd500;
     color: navy;
     font-family:Arial;
 }
#Ycubovigh{
    position: absolute;
    margin-top: 70px;
    margin-left: 100px;
    border: 2px solid red;
}
#strel{
    font-size: 25px;
    color: #ffd500;

}
#smeq {
      position: relative;
    opacity: 0;
    margin-right: 20px;
    margin-bottom: -40px;

}
#smew {
    position: relative;
    opacity: 0;
    margin-right: 50px;
    margin-bottom: -220px;

}
#smem {
     position: relative;
    opacity: 0;
     margin-bottom: -420px;
    margin-right: 150px;

}
#kolog {
    display: inline-block;
}
#smet{
    display:block;
    opacity: 1;
}
#smeh{
    display:block;
    opacity: 1;
}
#smer{
    display:block;
    opacity: 1;
}
#konteyner{
    position: absolute;
    opacity: 0;
    margin-left: 100px;
    background-color: #ffd500;
    width: 300px;
    margin-top: 20px;
    border: 5px solid #80001e;

}
#vygraki{
    position: relative;
    opacity: 0;
    margin-top: 20px;
     background-color: #ffd500;
    width: 300px;
    margin-left: 70px;
    border: 5px solid #80001e;

}
#perehod{
    position: relative;
    margin-top: 200px;
    color: #0004ff;
    opacity: 0;
}
#restar{
    opacity: 0;
    font-size: 1.3em;
    color: yellow;
    background-color: #0080ff;
}
h1{
    color: #1aff00;
}
h2{
    color: red;
}
h3,h4{
    color: navy;
}
